.post {
    background-color: #fff;
    max-width: 600px;
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
}
.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
}

.post__text {
    font-weight: normal;
    padding: 20px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 10px;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid rgb(219, 219, 219);
}

.post__button {
    flex: 0;
    border: none;
    border-top: 1px solid rgb(219, 219, 219);
    color: rgb(0, 149, 246);
    font-weight: 600;
}

.post__comments {
    padding: 20px;
}